*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    flex-wrap:initial;
    scroll-behavior:smooth;
    
}


big-title{
    color: goldenrod;
    font-size: 70px;
    
}
.mid-title{
    font-size: 40px;
    text-transform: uppercase;
}
.card_p_title{
    font-size: 20px;
    text-transform: uppercase;
    color: red;
    
}
.card_p_dis{
    font-family: 'Dancing Script', cursive;
}

/* header start from here */
body{
    height: 200vh;
}
header{
    
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    transition: 0.6s;
    z-index: 1000;
    font-weight: bolder;
    flex-wrap: wrap;
}
header.sticky{
    padding: 1px 80px;
    background: gray;
}

#logo{
    position: relative;
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 90px 5px 90px 5px;
    transition: .5s;
}
header .navlist{
    position: relative;
    display: flex;
    margin: 35px 0px;
    justify-content: center;
    align-items: center;
    
 
}
header .navlist .nav, header .navlist .nav1{
    position: relative;
    margin: 0px 20px;
    list-style: none;
    font-size: 16px;
    transition: .8s;

}
header .navlist .nav a {
    text-decoration: none;
    color: white;
}
header .navlist .nav a:hover{
    color: red;
}

.nav:hover{
    color: red;
    transform: scale(1.2);
}
.nav1 a{
    color: red;
    text-decoration: none;
    font-weight: bolder;
}
.nav1 a:hover{
    color: white;
    transform: scale(1.2);
}
#search{
    color: white;
}


/* header end here */


header.sticky #logo, header.sticky .navlist .nav{
    transform: scale(.8);
    
}

/* banner start from here */
.banner{
    position: absolute;
    width: 100%;
    height: 200vh;
    background: url(../image/homepage\ background_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.context-1{
    margin-top: 60vh;
    text-align: center;
    
}
.low-title{
    font-size: 30px;
    text-transform: uppercase;
    
    color: white;
}
.high-title{
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}

.paragraph{
    color: white;
    font-size: 22px;
    line-height: 30px ;
    font-family: 'Dancing Script', cursive;
}
.main-btn{
    height: 50px;
    width: 200px;
    background: transparent;
    border-radius: 30px;
    border-color: goldenrod;
    transition: .4s;
    text-transform: uppercase;
}
.main-btn a{
    text-decoration: none;
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
}
.main-btn:hover{
    background: black;
    transform: scale(1.1);
}

.banner::after{
    content: "";
    clear: both;
    display: table;
}

/* banner end here */


/* main part start form here */
main{
    box-sizing: border-box;
    position: relative;
    top: 200vh;
    height: 820vh;
    width: 100%;
    background: url(../image/background-home.jpg);
}



/* section one start here */

.part1{
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
}
.part1 .image1{
    margin: 80px;
    width: 50%;
    /* display: flex;
    
    justify-content: center;
    align-items: center; */
}
.part1 .image1 img{
    width: 500px;
    height: 500px;
}

.part1 .contant1{
    margin: 80px 0;
    width: 50%;
    text-align: left;
}

.part1-dtls{
    width: 80%;
    text-align: justify;
    font-family: 'Dancing Script', cursive;
}
.body-btn{
    width: 150px;
    height: 50px;
    border-color: goldenrod;
    border-radius: 30px;
    background: rgb(68, 65, 65);
    opacity: .9;
    transition: .5s;
    text-transform: uppercase;
}
.body-btn:hover{
    background: black;
    transform: scale(1.1);
    
}
.body-btn a{
    text-decoration: none;
    font-size: 20px;
    color: goldenrod;
}


.part1::after{
    content: "";
    clear: both;
    display: table;
}


/* section one end here */


/* section 2 start from here */


.part2{
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 200px 0px;
    transition: .5s;
}
.part2 img{
    height: 700px;
    width: 100%;
    transition: .5s;
}

.radio-btn{
    margin-top: -50px;
    transition: .5s;
}







/* section 2 ends here  */








/* section 3 start from here */

.part3{
    display: flex;
    width: 100%;
    height: 110vh;
    text-align: center;
    box-sizing: border-box;
    
}

.part3 .image3{
    margin: 80px;
    width: 50%;
    /* display: flex;
    
    justify-content: center;
    align-items: center; */
}

.part3 .contant3{
    margin: 80px 20px 40px 100px ;
    width: 50%;
    text-align: left;
}
.part1 .contant3 #part1-para{
    font-size: 35px;
    text-transform: uppercase;
}
.part3 .contant3 .part3-dtls{
    width: 80%;
    text-align: justify;
}

.part3 .image3 img{
    width: 500px;
    height: 500px;
}

/* we have to add some css code form part1 */







/* section 3 end here  */

/* section 4 start from here */

.part4{
    width: 100%;
    height: 133vh;
    text-align: center;
    background: rgba(0,0,0, .7);
    
}
.title4{
    padding-top: 130px;
}
.para4{
    font-size: 30px;
    color: goldenrod;
    
}

.extra4{
    margin-top: 20px;
}
.card4{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin: 0 50px;
}
.card4_1, .card4_2, .card4_3{
    width: 30%;
    height: 300px;
    background: whitesmoke;
    margin: 100px 20px;
    padding: 30px;
    transition: .6s;
}
.card4_1:hover{
    background: rgba(0,0,0, .6);
    color: whitesmoke;
}
.card4_2:hover{
    background: rgba(0,0,0, .6);
    color: whitesmoke;
}
.card4_3:hover{
    background: rgba(0,0,0, .6);
    color: whitesmoke;
    
}
/* section 4 end here  */

/* section 5 start from here  */
.part5{
    width: 100%;
    height: 108vh;
    position: relative;
    display: block;
    text-align: center;
    background: url(../image/homepage\ background_4.jpg);
    justify-items: center;
    background-size:cover;
    
}
.parag{
    text-transform: uppercase;
    padding-top: 110px;
}
.mid-p{
    font-size: 30px;
   color:goldenrod;
}
.big-p{
    font-size: 40px;
    color: whitesmoke;
}
.card{
    display: flex;
    justify-items: center;
    width: 100%;
    padding-top: 90px;
    transition: .3s;
    
}

.card1, .card2, .card3{
    
    width: 30%;
    height: 250px;
    margin: 40px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
    transition: .4s;
}

.card1:hover{
    border: 2px red solid;
}
.card1:hover #ilogo {
    animation-name: logo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes logo {
0%{
    color: red;
    }

50%{
    color: yellow;
}

100%{
    color: red;
    }
}
.card1:hover .title-add{
    color: red;
    
}
#ilogo{
    transition: .4s;
  
}
.title-add{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    transition: .4s;
    
}

address{
    font-size: 14px;
    text-transform: capitalize;
    color: whitesmoke;
    line-height: 20px;
}
#ilogo{
    
    color: white;
    
}
#ilogo:hover{
    color:red;
}

/* section 5 ends here  */

/* section 6 start from here  */

.part-contact1{
    bottom:0px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 130vh;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}
#mess{
    box-sizing: border-box;
    width: 25%;
    margin: 20px;
    padding: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
}
#messag{
    width: 82%;
    height: 250px;
    padding: 10px;
    margin: 0 auto;
    border: none;
    background: rgba(255, 245, 245, 0.5);
    color: rgb(0, 0, 0);
    resize: none;
    outline: none;
}
.resrvation{
    margin-bottom: 50px;
    color: wheat;
}
.extrac1{
    display: block;
    padding-top: 100px;
    color: goldenrod;

}
.ms-btn{
    
    height: 50px;
    width: 200px;
    background: transparent;
    border-radius: 30px;
    border-color: goldenrod;
    transition: .4s;
    margin-top: 30px;
    color: goldenrod;
    font-size: 18px;
    text-transform: uppercase;
}
.ms-btn:hover{
    background: rgba(0, 0, 0, 0.6);
    color: white;
}
/* section 6 end here  */
/* map start from here  */   

.map{
    position: relative;
    width: 100%;
    height: 80vh;
}
.map iframe{
    width: 100%;
    height: 100%;
    padding: 40px;
    background: rgba(131, 131, 238, 0.7);
}
/* map end here here  */
/* main part end here */





footer{
    position: relative;
    top: 204vh ;
    width: 100%;
    height: 60px;
    background: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
    
}
.copy, .support, .social{
    margin: 20px;
}
.copy p{
    color: white;
    font-size: 14px;
    font-family: sans-serif;
}
.support{

}
.social{
    
}
footer .support .foot{
    display: flex;
  
}
footer .support .foot .foo a:hover{
    color: red;
  
}
footer .support .foot .foo{
    margin: 0 10px;
    list-style: none;
}
footer .support .foot .foo a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#facebook, #twitter, #instagram, #email, #linkedin{
    color: white;
    margin: 5px;
    transition: .5s;
}

#facebook:hover{
    color: #3b5998;
    transform: scale(1.7);
}
#twitter:hover{
    color:  #4078c0;
    transform: scale(1.7);
}
#instagram:hover{
    color: rgb(150, 27, 27);
    transform: scale(1.7);
}
#email:hover{
    color: blue;
    transform: scale(1.7);
}
#linkedin:hover{
    color:  #0e76a8;
    transform: scale(1.7);
}

