.banner{
    position: absolute;
    width: 100%;
    height: 130vh;
    background: url(../image/homepage\ background_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{

    position: absolute;
    width: 400px;
    height: 200px;
    top: 260px;
    left: 30px;
    border: rgb(143, 177, 240) solid;
    border-width: 15px 0 15px 15px;
    
    z-index: 1;
}
.context-1{
    margin-top: 45vh;
    margin-left: 10%;
    text-align:left;
    z-index: 2;
    
    
}
.contant1 > ul li{
    font-family: 'Dancing Script', cursive;
    text-decoration:wavy;
    color:rgb(66, 66, 66);
    font-size: 1.1rem;
}
main-menu{
    position: absolute;
    top: 130vh;
    height: 240vh;
    width: 100%;
    background: url(../image/background-home.jpg);
    
}

.part1{
    display: flex;
    width: 100%;
    height: 130vh;
    text-align: center;
    box-sizing: border-box;
}
.part1 .image1{
    margin: 80px;
    width: 50%;
    /* display: flex;
    
    justify-content: center;
    align-items: center; */
}
.part1 .image1 img{
    width: 500px;
    height: 500px;
}

.part1 .contant1{
    margin: 80px 0;
    width: 50%;
    text-align: left;
}

.part1 .contant1 .part1-dtls{
    width: 80%;
    text-align: justify;
}
.photos{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .photo1, .photo2{
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;

} */




 /* hover effect start here */
.items{
    position: relative;
    
    height: 300px;
    width: 350px;
}
.items #img1{
    position: absolute;
    height: 100%;
    width: 100%;
}
.items .titles{
    position: absolute;
    height: 100%;
    width: 100%;
    color: wheat;
    text-align: center;
    padding-top: 160px;
    background: rgba(190, 25, 25, 0.7);
    transition: .5s;
    cursor: pointer;
    opacity: 0;
}
.items .titles:hover{
    opacity: 1;
    
}
.items h2{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: start;
    padding: 10px 60px;
}
.items p{
    text-transform: capitalize;
    font-size: 14px;
    text-align: justify;
    padding: 10px 60px;
    font-family: 'Dancing Script', cursive;
}


 /* hover effect end here  */
/* #img1, #img2{
    width: 300px;
    height: 300px;
    margin: 10px 0px;
    transition: .5s;
}
#img2{
    margin-top: -115px;
}
#img1:hover{
    transform: scale(1.1);
    
}
#img2:hover{
    transform: scale(1.1);
} */


footer{
    position: relative;
    top: 370vh ;
    bottom: 0;
}